.widget-wrapper {
    position: absolute;
    padding: 10px;
    cursor: grab;
    border-radius: 5px;
}

.widget-wrapper:hover {
    outline: var(--accent-color) 2px solid;
}

.widget-wrapper[data-is-focus=true] {
    outline: var(--accent-color-alt-red) 2px solid;
}

.widget-wrapper[data-is-dragging=true] {
    user-select: none;
    z-index: 99;
    outline-color: var(--accent-color-alt-orange);
}
