@import "tailwindcss";

:root {
    --bg-color: #F8F9FA;
    --panel-color: #FFFFFF;
    --text-color: #212529;
    --text-muted: #6C757D;
    --accent-color: #007BFF;
    --accent-color-alt-orange: #FF7411;
    --accent-color-alt-red: #cd0909;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}
