@import "tailwindcss";

:root {
    --bg-color: #F8F9FA;
    --panel-color: #FFFFFF;
    --text-color: #212529;
    --text-muted: #6C757D;
    --accent-color: #007BFF;
}

/* uncomment to enable dark mode */
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*      --bg-color: #121212;*/
/*      --panel-color: #1E1E1E;*/
/*      --text-color: #EAEAEA;*/
/*  }*/
/*}*/

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}
